<a href="https://colab.research.google.com/github/AmbaliAnjane/DataScientist-Analyst_projects/blob/main/chuern_prediction(ann).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [3]:
#data preprcessing and cleansing
dataset=pd.read_csv("/content/Churn_Modelling.csv")

In [4]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
x=dataset.iloc[:,3:-1].values
y=dataset.iloc[:,-1].values

In [6]:
print(x)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [7]:
from sklearn.preprocessing import LabelEncoder#performed label encoding over gender column
le=LabelEncoder()
x[:,2]=le.fit_transform(x[:,2])

In [8]:
print(x[:,2])

[0 0 0 ... 0 1 0]

In [10]:
from sklearn.preprocessing import OneHotEncoder#one hot encoding over others
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
x=np.array(ct.fit_transform(x))

In [11]:
print(x)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [12]:
from sklearn.preprocessing import StandardScaler#feature scaling
sc=StandardScaler()
x=sc.fit_transform(x)

In [13]:
x

array([[ 0.99720391, -0.57873591, -0.57380915, ...,  0.64609167,
         0.97024255,  0.02188649],
       [-1.00280393, -0.57873591,  1.74273971, ..., -1.54776799,
         0.97024255,  0.21653375],
       [ 0.99720391, -0.57873591, -0.57380915, ...,  0.64609167,
        -1.03067011,  0.2406869 ],
       ...,
       [ 0.99720391, -0.57873591, -0.57380915, ..., -1.54776799,
         0.97024255, -1.00864308],
       [-1.00280393,  1.72790383, -0.57380915, ...,  0.64609167,
        -1.03067011, -0.12523071],
       [ 0.99720391, -0.57873591, -0.57380915, ...,  0.64609167,
        -1.03067011, -1.07636976]])

In [15]:
#spliting the dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20,random_state=0)

In [16]:
#building the ANN model,model initializaiton
ann=tf.keras.models.Sequential()

In [18]:
#adding input layers & first hidden layer
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [19]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [20]:
#adding output layer
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

In [22]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [23]:
#ann.fit(X_train, y_train, batch_size = 32, epochs = 100)
ann.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 3s 2ms/step - loss: 0.6047 - accuracy: 0.7221
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4890 - accuracy: 0.8034
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4550 - accuracy: 0.8076
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4414 - accuracy: 0.8079
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4324 - accuracy: 0.8112
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4255 - accuracy: 0.8117
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4200 - accuracy: 0.8135
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4150 - accuracy: 0.8146
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4105 - accuracy: 0.8156
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4068 - accuracy: 0.8170
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4033 - accuracy: 0.8200
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3996 - accuracy: 0.8213
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3960 - accuracy: 0.8230
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3925 - accuracy: 0.8242
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3881 - accuracy: 0.8265
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3846 - accuracy: 0.8273
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3808 - accuracy: 0.8280
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3773 - accuracy: 0.8309
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3739 - accuracy: 0.8296
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3714 - accuracy: 0.8311
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3689 - accuracy: 0.8342
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3663 - accuracy: 0.8331
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3647 - accuracy: 0.8334
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3593 - accuracy: 0.8515
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3522 - accuracy: 0.8572
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3487 - accuracy: 0.8626
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3461 - accuracy: 0.8626
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3449 - accuracy: 0.8599
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8605
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3421 - accuracy: 0.8612
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8604
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8645
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8643
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8634
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8633
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8635
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3379 - accuracy: 0.8654
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8630
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8631
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8644
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8645
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8641
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8625
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8656
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8644
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8649
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8636
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8639
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8637
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8631
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8633
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8649
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8639
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8650
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8630
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8649
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8634
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8626
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8645
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8633
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8635
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8640
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8646
Epoch 64/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8648
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8627
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8645
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8649
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8633
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8644
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8641
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8644
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8626
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8644
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8650
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8641
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8646
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8649
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8633
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8644
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8648
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8648
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8630
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8644
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8646
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3320 - accuracy: 0.8635
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3320 - accuracy: 0.8637
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3327 - accuracy: 0.8639
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8640
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8652
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8635
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8652
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8633
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8631
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3318 - accuracy: 0.8649
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8646
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3316 - accuracy: 0.8640
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8641
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3321 - accuracy: 0.8633
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8645
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8645

In [24]:
#done with training model ,let's predict the test results
y_pred=ann.predict(x_test)

63/63 [==============================] - 0s 1ms/step

In [25]:
y_pred

array([[0.25711793],
       [0.24314743],
       [0.11216044],
       ...,
       [0.17933388],
       [0.22996941],
       [0.14263466]], dtype=float32)

In [29]:
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [30]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1510   85]
 [ 190  215]]

In [31]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_pred,y_test)
print(acc)

0.8625