<a href="https://colab.research.google.com/github/AmbaliAnjane/DataScientist-Analyst_projects/blob/main/logistic_regression_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
#importing the dataset
dataset=pd.read_csv("/content/Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

buisness understanding: here i have a dataset let's say of car showroom i need to predict wether person will purchase car or not.
clearly it is an bineary class classification problem
i am gonn built logistic regression model over here..
which is used to pridict future in classification problems

#let me remove irrevelent attributes here as we can see usser id can't decide whether this person going to get but or not  and also not gender can decide car will be purchased or not...so removing irrlevent attributes
2>it will increase accuracy of the model #feature selection

In [7]:
#dividing data into depended and independend variables
x=dataset.iloc[:,[2,3]].values
y=dataset.iloc[:,-1].values

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

here i am doing feature scaling as we are taking age and salary as independed attributes and based on this two our logistic regression model will predict either customer will purchase new car or not...therefore to avoid biasnes in training data i am doing feature scaling.

In [9]:
from sklearn.preprocessing import StandardScaler
SC=StandardScaler()
X_trian=SC.fit_transform(X_train)
X_test=SC.transform(X_test)

note:feature scaling is only for independend variables not for dependent variable at all..

here! we are done with scaling part now i am heading towaard building a logistic regression model and fitting the dataset into it..

In [10]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression() #building object as classifier
classifier.fit(X_train,y_train)#training logistic model with training data

LogisticRegression()

predicting results of test data from the model we have just created..

In [11]:
y_pred=classifier.predict(X_test)

In [12]:
print(y_pred)
print(y_test)

[0 1 0 0 1 1 1 0 1 1 1 1 1 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 1 0 0 0 1 1 1 1 0
 1 1 1 0 1 0 1 0 1 0 0 1 0 0 1 1 0 0 1 0 0 1 1 1 1 0 0 1 0 0 1 1 0 0 0 1 1
 0 0 0 1 1 0]
[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 0 1 1 0 0 1 0 0 1 0 1 0 1 0 0 0 0 1 0 0 1
 0 0 0 0 1 1]

here we have actual data and predicted data by model ,,
let's built confusion matrix to evoluate the result and accuracy of model

In [13]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[26 32]
 [15  7]]

here we got confusion metrix showing **accuracy** as (26+7)/(26+32+15+7) ,,which is equal to 0.41 that is accuracy of model is 41% only.

and** error rate of model** is:(32+15)/80=0.58
that is error rate is high it is 58%
#let me check accuracy over built in packages

In [14]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_test,y_pred)
print(ac)

0.4125

it is exactley same what i get by manual calculations...

accuracy of model is less 
we need to optimize it ,,
**creating biasness or variance report of model**

In [15]:
from sklearn.metrics import classification_report
cr=classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.63      0.45      0.53        58
           1       0.18      0.32      0.23        22

    accuracy                           0.41        80
   macro avg       0.41      0.38      0.38        80
weighted avg       0.51      0.41      0.44        80

In [16]:
bias=classifier.score(X_train,y_train)
print(bias)

0.621875

In [17]:
variance=classifier.score(X_test,y_test)
print(variance)

0.4125

here bias=62%
     variance=41%
  it is high bias and low variance model that is underfitted..

In [2]:
from matplotlib.colors import ListedColormap
X_set, y_set = X_train, y_train
X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
                     np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1.shape),
             alpha = 0.75, cmap = ListedColormap(('red', 'green')))
plt.xlim(X1.min(), X1.max())
plt.ylim(X2.min(), X2.max())
for i, j in enumerate(np.unique(y_set)):
    plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
                c = ListedColormap(('red', 'green'))(i), label = j)
plt.title('Logistic Regression (Training set)')
plt.xlabel('Age')
plt.ylabel('Estimated Salary')
plt.legend()
plt.show()

NameError: ignored